
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
 
.body{
    margin: 0;
    padding: 0;
    background-image: url("img/76.jpg");
    background-size: cover;
    background-attachment: fixed;
   font-size: 20px;
    color: black;
    text-align: justify;
    height: 100vh;
   display: flex;
   align-items: center;
   padding: 0 10px;
   max-width: 900px;
}
.header{
    position: absolute;
    text-indent: 600;
    top: 0%;
    right: 0%;
    width: 100%;
    padding: 20px 10%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;


    }
.navBar{
    padding: 7px;
    font-size: 25px;
    background-color: cadetblue;
     float: right;
    text-decoration: none;
    font-weight: 600;
    margin-left: 220px;
   
   }
.header .logo{
position: absolute;
top: 0%;
left: 0%;
margin-left: 100px;
margin: 0% 10px;
height: auto;
width: 100px;
}

.cover{
    background: transparent;
    width: 220;
    position: absolute;
    top: 15%;
    right: 700px;
    padding: 0 10px;
    max-width: 800px;
}